{{!-- Form Settings - Analyze - Summaries --}}

{{form/form-analyze/analyze-sidebar}}

<div class="content-row column">
    <div class="chart-view blank">
        <div>
            <span>Q1</span>
          {{ui-button "隐藏切换图表类型" class="border" size="s"}}
        </div>
        <div class="chart-container">
            <h2>您的性别</h2>
            <span>已回答：5      已略过：0 </span>
            <div class="chart">

            </div>
            <div class="data-table-container">
                <table class="data-table">
                    <thead>
                    <tr>
                        <th>Answer Choices</th>
                        <th>Responses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>