@import "var.css";

@keyframes settings-panel {
  0% {
    transform: scale( 0.9 );
  }
  100% {
    transform: scale( 1 );
  }
}

.chart-settings-panel {
  position: absolute 48px auto auto 12px;
  padding: 60px 24px 54px 24px;
  min-width: 128px;
  min-height: 128px;
  border-radius: 3px;
  background-color: color(var(--color-dark-slate) a(90%));
  box-shadow: color(black a(30%)) 0 3px 8px 0;
  animation: settings-panel 0.2s ease-in-out;
  animation-iteration-count: 1;

  &:before {
    content: "";
    position: absolute 60px 24px 54px 12px;
    border-bottom: 1px solid var(--color-silver);
    border-left: 1px solid var(--color-silver);
  }

  &:after {
    content: "";
    position: absolute 36px 0 auto 0;
    height: 1px;
    background-color: var(--color-silver);
  }

  & > p {
    position: absolute 0 auto auto 12px;
    line-height: 36px;
    color: var(--color-white);
    font-size: 10px;
    text-shadow: 0 -1px 0px color(black a(30%));
  }

  & ul {
    float: left;
    color: var(--color-white);

    & > span {
      position: absolute;
      font-size: 10px;
      text-shadow: 0 -1px 0px color(black a(30%));
    }

    & li {
      float: left;
      clear: left;
      cursor: pointer;
      position: relative;
      font-size: 12px;
      min-width: 96px;
      max-width: 160px;
      display: inline-block;
      text-align: center;
      padding: 4px 36px 4px 12px;
      border-radius: 15px;
      border: 1px solid var(--color-silver);
      color: var(--color-white);

      &:hover {
        background-color: color(var(--color-white) a(16%));
      }

      & :global(.ic-plus-1) {
        margin: 0 auto;
      }

      & > a {
        position: absolute 0 5px auto auto;

        & i{
          margin: 5px;
        }
      }
    }
  }
}

.add-value {
  padding: 4px !important;

  & i {
    margin: 0 36px;
  }
}

.value-y {
  max-height: 256px;
  overflow: auto;

  & li {
    margin-bottom: 12px;
  }

  & > span {
    left: 10px;
    top: 44px;
  }
}

.category-x {
  position: absolute auto auto 12px 12px;

  & > span {
    right: -20px;
    bottom: 33px;
  }
}

.collapse {
  position: absolute 0 0 auto auto;
}
