@import "var.css";

.axis-options {
  padding-bottom: 0;

  & > div {
    float: left;
    margin-right: 24px;
  }
}

.value-labels,
.axis-scale {
  & > div {
    float: left;
    width: 157px;

    & button {
      width: 100%;
    }
  }

  & p {
    width: 157px;
    float: left;

    &:nth-of-type(1) {
      margin-right: 12px;
    }
  }
}

.axis-scale-dropdown,
.value-labels-dropdown {
  margin-right: 12px
}

.decimals,
.major {

}

.value-labels {
  padding-bottom: 0;
}

.thousands-separator {
  margin-top: 12px;
}

.prefix {
  padding-bottom: 0;

  & :global(.column-wrapper) {
    width: 100%;

    & > div {
      width: 157px;
    }
  }
}

.show-minimum-value {
  padding-bottom: 0;
}

.label-angle {
  & > div {
    float: left;
    width: 157px;

    & button {
      width: 100%;
    }
  }
}

.value-labels-content {
  & li {
    &:first-of-type {
      background-color: var(--color-light);
    }
  }
}
