<h1>{{t "page-header.reports"}}</h1>

<div class="header-control">
  {{dashboard/subnav/scope-control-menu local-class="scope-ctrl"}}
</div>

{{ui-button (t "page-header.create-report") color="green" icon="ui-simple-add"}}
