@import "var.css";

.search-input {
  position: relative;
  float: right;
  & input {
    padding-right: 36px;
  }
  & a {
    position: absolute 0 0 auto auto;
  }
}

.filter-block {
  display: flex;
}

.filter-trigger {
  cursor: pointer;
  font-size: 12px;
  & > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    user-select: none;
  }
  & button {
    padding-left: 0;
  }
}

.filter-content {
  font-size: 11px;
  & li {
    & a {
      padding: 4px 6px;
    }
    & i {
      &:nth-of-type(1) {
        position: relative -5px auto auto;
      }
    }
  }
}

.switch {
  display: flex;
  margin-left: auto;
  & a {
    margin-left: 6px;
  }
}

.data-source {
  margin-bottom: 12px;
  border-radius: 2px;
  border: 1px solid var(--color-silver);
  user-select: none;
  clear: fix;
  & > ul {
    position: relative;
    float: left;
    width: 100%;
    border-top: 1px solid var(--color-silver);
    &:before {
      content: "";
      position: absolute 0 35px 0 auto;
      width: 1px;
      background-color: var(--color-fade-silver);
    }
    & li {
      position: relative;
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--color-fade-silver);
      }
    }
  }
}

.data-source.minimize {
  & a {
    &:first-of-type {
      & svg {
        transform: rotate(-90deg);
      }
    }
  }
}

.data-source-title {
  position: relative;
  float: left;
  width: 100%;
  padding: 8px 40px 8px 60px;
  background-color: var(--color-light);
  &:before {
    content: "";
    position: absolute 0 35px 0 auto;
    width: 1px;
    background-color: var(--color-fade-silver);
  }
  & > svg {
    position: absolute 10px auto auto 36px;
    fill: color(var(--color-fade-slate));
  }
  & > span {
    width: 100%;
    float: left;
  }
}

.collapse {
  position: absolute 0 auto auto 0;
}

.data-source-dropdown {
  position: absolute;
  right: 0;
  top: 0;
}

.empty {
  & > ul {
    &:before {
      display: none;
    }
  }
}

.custom-title {
  padding-right: 80px;
  &:after {
    content: "";
    position: absolute 0 71px 0 auto;
    width: 1px;
    background-color: var(--color-fade-silver);
  }
  & + ul {
    & li {
      & > div {
        &:first-of-type {
          padding: 0 72px 0 0;
        }
      }
      & :global(.setup) {
        right: 36px;
        &:before {
          content: "";
          position: absolute 0 35px 0 auto;
          width: 1px;
          background-color: var(--color-fade-silver);
        }
        & svg:not(:root) {
          margin: 8px 10px;
        }
      }
    }
  }
}

a.create-custom {
  position: absolute 0 36px auto auto;
}

.create-custom[data-tips] {
  &:after {
    margin-left: -64px;
  }
}
