{{#link-to "index" class="icon-button" tips=(t "page-header.back-to-dashboard")}}
  {{ui-icon icon="ui-grid-square"}}
{{/link-to}}

<h1>{{model.questionnaire.QTitle}}</h1>

{{ui-button (t "page-header.editor") color="purple" icon="brush"}}

<div class="shortcut">
  <!--<a href="" class="box-button">-->
  <!--<i class="ic ic-24-Transfer-f-24"></i>-->
  <!--</a>-->
</div>
