@import "var.css";

.share-settings {
  position: relative;
}

.popup-server {
  & > span {
    display: block;
  }

  & form {
    &:nth-of-type(-n+2) {
      float: left;
      margin: 12px 0 24px 0;
      padding-left: 28px;

      & :global(.content-column) {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &:nth-of-type(2) {
      margin-left: 32px;

      &:before {
        content: "";
        position: absolute 0 auto 0 -32px;
        width: 1px;
        background-color: var(--color-silver);
      }
    }

    &:last-of-type {
      clear: left;
    }
  }
}

.icon {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #2ecc71;
}

.code {
  width: 100%;
  clear: fix;

  & > span {
    display: block;
  }

  & textarea {
    width: 100%;
    margin: 12px 0;
  }

  & > p {
    color: var(--color-silver);
    font-size: 12px;
    line-height: normal;
    clear: left;
  }
}
