<div class="tabs tabs-style">
  <nav>
    <ul>
      {{#link-to "reports.report" tagName="li" activeClass="current"}}
        {{#link-to "reports.report"}}<span>{{t "reporting-tools.report"}}</span>{{/link-to}}
      {{/link-to}}
    </ul>
  </nav>
</div>
